.sidebarItem{
    align-self: end;
    width: 6rem;
    text-align: center;
    height: 7rem;
    transition: width 0.3s, height 0.2s, font-size 0.2s;
}

.sidebarItem:hover{
    position: relative;
    text-align: center;
    bottom: 47px;
    cursor: pointer;
    opacity: 0.85 !important;
    z-index: 99999;
    font-weight: 600;
    transition: 0.2s;
    transform: scale(1.8);
}

.sidebarItem__time{
margin-top: 10px;
transition: margin-top 0.25s;
}

.sidebarItem__temp{
    margin-top: 0px;
}
.sidebarItem__weather{
    margin-top: 0px;
}

.day{
    background-color: #dfe2e6;
    color:  black;
    opacity: 0.75;
}
.day:hover{
    border: 1px solid #adc3e9;
}

.night{
    background-color: #4d648d;
    color:  white;
    opacity: 0.75;
}